/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--color-main-white);
  border-radius: 4px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: background-color 250ms linear;
}

.close-modal:hover,
.close-modal:focus {
  background-color: var(--color-main);
}

.close-modal:hover .close-modal__svg,
.close-modal:focus .close-modal__svg {
  fill: var(--color-main-white);
}

.close-modal__svg {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms linear;
}

/* modal-form */

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
}

.contact-form__feild {
  color: #757575;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.contact-form__feild + .contact-form__feild {
  margin-top: 10px;
}

.contact-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.contact-form__input:focus {
  outline: none;
  border-color: var(--color-main);
  box-sizing: border-box;
  border-radius: 4px;
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--color-main);
}

.contact-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  fill: #212121;
}

.contact-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
}

.contact-form__message:focus {
  outline: none;
  border-color: var(--color-main);
  box-sizing: border-box;
  border-radius: 4px;
}

.contact-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__policy-label {
  margin-bottom: 30px;
  text-align: center;
  color: #757575;
}

.contact-form__policy-label::before {
  display: inline-block;
  content: "";
  border: 1px solid #212121;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/Vector.svg);
  border-radius: 3px;
  margin-right: 10px;
  vertical-align: middle;
}

.contact-form__policy-check:checked + .contact-form__policy-label::before {
  background-color: var(--color-main);
  border-radius: 3px;
  border: none;
}

.contact-form__policy-link {
  color: var(--color-main);
  text-decoration: underline;
}

.contact-form-btn {
  display: block;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  align-self: center;
  color: var(--color-main-white);
  background-color: var(--color-main);
  border: none;
  padding: 10px 55px;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: #188ce8;
}
